.image_holder {
    position: relative;
    top: 0;
    left: 0;
}
.map {
    position: relative;
    top: 0;
    left: 0;
    border: 1px red solid;
}

.robot{
    width: 50px;
    height: auto;
    
}

