<?xml version="1.0" encoding="UTF-8"?>
<launch>

<include file="$(find aws_robomaker_hospital_world)/launch/view_hospital.launch" />
<include file="$(find robot_urdf)/launch/urdf_spawner_gazebo.launch" />
<include file="$(find robot_urdf)/launch/move_base(to_move_when_working).launch" />



<!-- Find the map and load it into rviz-->
   <node name="map_publisher" pkg="map_server" type="map_server" args="$(find robot_urdf)/maps/first_floor.yaml"/> 
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_urdf)/rvis_config/basic_robot.rviz"/>


</launch>
