<?xml version="1.0" encoding="UTF-8"?>
<launch>

<param name="robot_description" command="$(find xacro)/xacro '$(find robot_urdf)/urdf/robot.urdf'"/>

<node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model my_robot -x 0 -y 0 -z 0.05"/> 

<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
   <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

   <node name="map_publisher" pkg="map_server" type="map_server" args="$(find robot_urdf)/maps/first_floor.yaml"/> 
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_urdf)/rvis_config/basic_robot.rviz"/>
</launch>
